/* ---------------------------------- Font-size ---------------------------------- */
$header-font-size: 4rem;
$body-font: 2.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.1rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

/* --------------------------------- Colors --------------------------------- */
$color-1: #10403B;
$color-2: #127369;
$color-3: #72c8c1;
$color-4: #8AA6A3;
$color-5: #4C5958;
$text-color: #8c8c8c;
$text-color-bold: #000;
$text-color-light: #fff;
$body-color: #fff;
$container-color: #fff;
$border-color: hsl(228, 99%, 98%);
$color-silver: #7b7b7b;
$background-dark: #212529;
$background-light: #fff;