* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar{
    background-color: $background-dark;
    color: $text-color-light;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    .navBar-nav{
        justify-content: center;

        ul{
            display: flex;
            flex-direction: center;
            align-items: center;
            margin: 0;
            padding: 0;

            li{
                font-size: $h2-font-size;
                list-style: none;
                padding: 10px;
                margin: 0 15px;
                text-transform: uppercase;
                cursor: pointer;
                transition: .3s ease;

                &:hover{
                    color: $color-3;
                }

                span{
                    vertical-align: middle;
                    margin: 5px;
                }
            }

            .navBar-nav-dropdown{
                font-size: $h2-font-size;
                text-transform: uppercase;

                a{
                    color: $text-color-light;
                    background-color: $background-dark;
                    transition: .3s ease;

                    &:hover{
                        color: $color-3;
                    }
                }

                .dropdown-menu{
                    padding:0;

                    & a{
                        padding: 15px 16px;
                    }
                }
            }
        }
    }
}

/* ------------------------ Color menu de hamburgesas ----------------------- */
.navbar-light .navbar-toggler{
    border: 1px solid $text-color-light;
    margin: 5px 0;

    &:hover{
        box-shadow: 0px 0px 5px 1px $color-3;
        border: 1px solid $color-3;
    }   
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%280255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    &:hover{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%280115, 188, 192, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

}

/* ------------------------------- mediaquery 768px ------------------------------- */
@media only screen and (max-width: 768px){
    .navBar-nav ul{
        flex-direction: column;
        padding: 1.5rem !important;

        li{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1rem !important;
        }
    }
}