@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Montserrat:wght@500&family=Poppins:wght@600&display=swap');
@import '_heading.scss';
@import '_variablesFonts.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------------------- Header --------------------------------- */
.header{    
    display: flex;
    justify-content: space-evenly;
    align-items :center;
    height: 18vw;
    font-family: 'Lato', sans-serif;
    background-image: url(../../../public/images/banner-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .logo{
        font-size: $header-font-size;
        cursor: pointer;
        transition: .3s ease;
        text-decoration: none;

        &:hover{
            color: $color-3;
        }
    }

    .header-search{
        @extend .search;

        .input-search{
            @extend .search-content;
        }

        div{
            font-size: $h2-font-size;
            font-weight: 900;
            background-color: $background-dark;
            display: flex;
            justify-content: center;
            align-items : center;
            padding: 7px;
            height: 100%;
            cursor: pointer;
        }
    }

    &-text{
        background-color: transparent;  
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;

        li{
            color: $text-color-bold;
            list-style: none;
            font-weight: 600;
            font-size: $h2-font-size;
            margin: 0;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }
        }

        .text-primary::after{
            content: '|';
            padding: 0px 10px;
            display: inline-block;
            color: $text-color-bold;
        }
    }
}

/* ------------------------------- mediaquery ------------------------------- */
@media only screen and (max-width: 768px){
    .header{
        height: 100%;
        padding:20px;
        flex-direction: column-reverse;

        .header-search{ 
            height: 2.5rem;
        }
    }
}
