* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar{
    background-color: #000;
    color: #fff;
    padding: 0;

    .navBar-nav{
        display: flex;
        justify-content: center;
        height: 100%;

        ul{
            display: flex;
            flex-direction: center;
            align-items: center;
            margin: 0;
            padding: 0;


            li{
                font-size: 1.1em;
                list-style: none;
                padding: 10px;
                margin: 0 10px;
                text-transform: uppercase;

                &:hover{
                    background-color: #667;
                    height:100%;
                }

                span{
                    vertical-align: middle;
                    margin: 5px;
                }
            }
        }
    }
}

/* ------------------------ Color menu de hamburgesas ----------------------- */
.navbar-light .navbar-toggler{
    border: 2px solid #73c7c0;
}

.navbar-light .navbar-toggler:hover{
    box-shadow: 0px 0px 5px 1px #73c7c0;
}

.navbar-light .navbar-toggler-icon{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%280115, 188, 192, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}