@import '../../styles/styles.scss';


thead{
    th{
        text-align: center;
        font-size: $h2-font-size;
        border-style: none ;
        font-weight: 700;
    }
}

tbody{
    td{
        text-align: center;
        vertical-align: middle;
    }
}

.cart-item{
    display: flex;
    justify-content: space-around;

    img{
        cursor: pointer;
        height: 75px;
    }

    &-title{
        cursor: pointer;
        width: 30%;
    }
}

.cart-search-button{
    @extend .css-button-fully-rounded--black;
    margin: 20px 0;
    text-transform: uppercase;
}

.delete-item{
    border-radius: 50%;
    padding: 5px 11px;
    font-size: 0.8em;
}


.cart-delete-button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .cart-button{
        @extend .css-button-fully-rounded--black;
    }
}

.cart-item-qnty-button{
    @extend .css-button-fully-rounded--black;
    border: 1px solid;
    padding: 1px 7px;
}

.cart-checkout-button-container{
    display: flex;
    justify-content: center;

    .cart-checkout-button{
        @extend .css-button-fully-rounded--black;
        padding: 10px;
    }
}

/* ----------------------- Mediaquery max-width 768px ----------------------- */
@media (max-width: 768px){

    thead{
        tr{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: center;

            td{
                border-bottom-width: 0;
            }
        }
    }
    tbody{
        tr{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #ccc;
        }
    }
}