@import '../../styles/styles.scss';

.item-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    &-img{
        margin: 20px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            max-width: 100%;
            width: 300px;
            padding: 10px;
        }
    }

    &-description{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 20px 0;
        float: left;
    }

    &-title{
        font-size: 24px;
    }

    &-price{
        margin: 20px 0;
        font-size: 32px;
        font-weight: 600;
        line-height: initial;
    }

    .item-detail-payments{
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        cursor: pointer;
        margin: 20px 0;

        .item-detail-cuotas{
            border: 1px solid $color-silver;
            padding: 5px 10px;
            width: fit-content;

            span{
                margin: 0 5px;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    
        .item-detail-payment-methods{
            text-transform: uppercase;
            text-decoration: underline;
            font-size: $smaller-font-size;
            color: $color-silver-light;
            fill: $color-silver-light;
            margin: 15px 0;
            width: fit-content;
    
            &:hover{
                color: $color-6;
                fill: 000;
                opacity: 0.6;
            }
        }
    }

    .item-detail-counter-quantity{
        display: flex;
        flex-direction: column;

        span{
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        .quantity-title{
            margin-top:5px;
            margin-bottom: 10px;
        }

        .stock-button{
            padding: 5px 10px;
            border: 1px solid #212529;
            border-radius: 5px;
            font-weight: bold;
            font: 1.2rem;
            transition: all .3s ease;

            &:hover{
                background: #212529;
                color: #fff
            }
        }

        .stock-counter{
            margin: 0 15px;
            font-weight: 600;
        }
    } 

    .disabled {
        color: $color-silver;
        background: none;
        border-color: $color-silver;
        
        &:hover{
            background: none;
            color: $color-silver;
        }
    }

    .submit-button {
        @extend .css-button-fully-rounded--black;
        margin: 20px 0;
        text-transform: uppercase;
        font-weight: 500;
        width: 100%;
    }  


    .item-detail-submit-text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        
        span{
            font-size: $h3-font-size;
            margin-right: 10px;
        }

        .item-detail-submit-cart{
            text-decoration: underline;
            text-transform: uppercase;
            font-size: $h3-font-size;
            cursor: pointer;
            font-weight: 600;
        }
    }
}