@import '../../styles/styles.scss';

.swiper {

    .swiper-pagination{
        position: relative;
        top: 0;
        height: 20px;
        margin: 12px 0;
        
        .swiper-pagination-bullet {
            background: $background-dark;
        }
    }

    .swiper-slide{
        max-height: 500px !important;
        overflow: hidden;

        img{
            height: 500px;
        }
    }

    .swiper-button-prev{
        color: $color-silver-light;
        top: 45%;

        &::after{
            font-size: $h3-font-size;
            background-color: $color-5;
            border-radius: 50%;
            padding: 5px 10px;
            font-weight: 600;
        }
    }

    .swiper-button-next{
        color: $color-silver-light;
        top: 45%;

        &::after{
            font-size: $h3-font-size;
            background-color: $color-5;
            border-radius: 50%;
            padding: 5px 10px;
            font-weight: 600;
        }
    }
}

/* ------------------------ Mediaquery max-width 768 ------------------------ */
@media only screen and (max-width: 768px){

    .swiper-slide{
        img{
            height: 300px !important;
        }
    }
}



