*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper {
    position: absolute;

    .swiper-pagination{
        position: relative;
        top: 0;
        height: 20px;
        margin: 12px 0;
        
        .swiper-pagination-bullet {
            background: #000000;
        }
    }

    .swiper-slide{
        max-height: 500px !important;
        overflow: hidden;


      img{
          width: 700px;
          height: 400px;
        }
    }
}



