.swiper {
    position: absolute;

    .swiper-pagination{
        position: relative;
        top: 0;
        height: 20px;
        margin: 12px 0;
        
        .swiper-pagination-bullet {
            background: #000000;
        }
    }

    .swiper-slide{
        max-height: 500px !important;
        overflow: hidden;

        img{
            width: 1000px;
            height: 500px;
        }
    }

    .swiper-button-prev{
        left: 180px;
        color: #ffffff80;
        top: 45%;

        &::after{
            font-size: 15px;
            background-color: #1b1b1bcf;
            border-radius: 50%;
            padding: 5px 10px;
            font-weight: 600;
        }
    }

    .swiper-button-next{
        right: 180px;
        color: #ffffff80;
        top: 45%;

        &::after{
            font-size: 15px;
            background-color: #1b1b1bcf;
            border-radius: 50%;
            padding: 5px 10px;
            font-weight: 600;
        }
    }
}



