@import "../../styles/styles.scss";

h1{
    text-align: center;
    margin: 50px 0;
}

.checkout-page-container{
    margin: 50px 100px;
}

.checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    &-form{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 80%;

        &-container-data{
            display: flex; 
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        & form{
            display: flex;
            flex-direction: column;
            padding: 20px;
            background-color: $color-7;

            label{
                font-weight: 600;
            }

            input{
                border: 2px solid $color-silver-light;
                border-radius: 5px;
                padding: 5px;
                margin: 5px 0;
                transition: all 0.2s ease-in-out;

                &:focus{
                    outline: none;
                    border: 2px solid rgb(159, 159, 159);
                }
            }
        }

        &-container-submit{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            .submit-button{
                @extend .css-button-fully-rounded--black;   
                padding: 10px;
                width: 50%;
                background-color: $color-7;

                &:focus{
                    background-color: none;
                    border-color: none;
                    box-shadow: none;
                }
            }
        }      
    }

    /* ------------------ Items agregados al carrito de compras ----------------- */
    &-items{
        display: flex;
        justify-content: center;
        border-radius: 10px;
        background-color: $color-7;
        margin: 0 10px;
        width: 40%;

        &-container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0 20px;
            background-color: rgb(255, 255, 255);
            width: 100%;

            &-title{
                width: 100%;
                text-align: center;
                font-size: 2em;
                margin: 10px 0;
                font-weight: 600;
            }

            &-item{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;     
                width: 100%;
    
                &-title {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    margin: 0;

                    span{
                        color: $color-silver-light;
                    }
                }
            }

            &-total{
                font-weight: 600;
                font-size: $h2-font-size;
                margin: 20px 0;
                width: 100%;
                text-transform: uppercase;

                span{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

/* ------------------ FeedBack con los datos del comprador ------------------ */
.purchase-completed{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    &-container{
        margin-top: 100px;   
        text-align: center;
        padding: 0 100px;
        background-color: $color-7;
        border: 1px solid rgba(0, 0, 0, 0.12);

        &-data{
            font-size: 1em;
            font-weight: 600;
        }

        &-icon{
            color: rgb(60, 213, 60);
            font-size: 2em;
            border: 3px solid rgb(60,213,60);
            border-radius: 50%;
            padding: 0.5em;
            margin: 1em;
        }
    }

    button{
        @extend .css-button-fully-rounded--black;
        margin: 30px 0;
        text-transform: uppercase;
    }
}

/* ------------------------------- Mediaquery max-width 768px ------------------------------- */
@media only screen and (max-width: 1490px){

    .checkout-page-container{
        margin: 50px 0;
    }

    .checkout{
        padding: 0;

        &-form{
            flex-direction: column-reverse;
            align-items: center;

            .row{
                width: auto;
            }
            
            .checkout-items{
                width: 100%;
                margin: 20px 0;
            }
        }

        &-items-container-item{
            
            img{
                padding: 15px
            }

            &-title {
                margin: 0 10px;
            }
        }
    }

    /* ------------------ FeedBack con los datos del comprador ------------------ */
    .purchase-completed{
        margin: 0 50px;
    }
}